@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 37 99 235; /* blue-600 */
  --color-secondary: 75 85 99; /* gray-600 */
  --color-success: 22 163 74;
  --color-danger: 220 38 38;
  --color-neutral: 226 232 240;
}
